:root {
    --dark-color: #1F1F1F;
    --light-color: #E0E0E0;
    --primary-color: #00AAAA;
    --secondary-color: #AA00AA;
    --tertiary-color: #FF5555;
}

.h1 {

}
.h2 {

}
.h3 {

}

body {
    margin: 0px;
    padding: 0px;
    background-color: var(--light-color);
    background-attachment: fixed;
    background-position: top;
    background-repeat: no-repeat;
    background-size: 100%;
    /* Get better font */
    font-family: 'Prompt', sans-serif;
}

.navbar {
    background-color: rgba(255, 255, 255, 0.3);
    display:flex;
    align-items:center;
    -webkit-transform-style: preserve-3d;
    /* -webkit-transform:translate3d(0,0,0); */
}
.navbar div {
    display: flex;
    align-items: center;
    justify-content:space-around;
    flex: 1;
    padding: 0;
}
.navbar a img {
    max-width:100px;
}
.navbar div a {
    text-decoration: none;
    color: var(--dark-color);
    font-size: x-large;
    font-weight: bold;
}

.slide {
    opacity: 0;
}
.slide img {
    width: 100%;
    z-index: -1;
    position: fixed;
}
/* .slide.title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    text-align: center;
    z-index: 1;
} */
.slide.active{
    opacity: 100%;
    transition: opacity 0.5s ease-out;
}