:root {
    --dark-color: #1F1F1F;
    --light-color: #E0E0E0;
    --primary-color: #00AAAA;
    --secondary-color: #AA00AA;
    --tertiary-color: #FF5555;
}
body {
    margin: 0px;
    padding: 0px;
    background-color: var(--light-color);
    background-image: url(assets/banners/spawn8.PNG);
    background-attachment: fixed;
    background-position: top;
    /* Get better font */
    font-family: 'Prompt', sans-serif;
}
  
.navbar {
    background-color: rgba(255, 255, 255, 0.3);;
    display:flex;
    align-items:center;
}
  
.navbar div {
    display: flex;
    align-items: center;
    justify-content:space-around;
    flex: 1;
    padding: 0;
}
.navbar a img {
    max-width:100px;
}
.navbar div a {
    text-decoration: none;
    color: var(--dark-color);
    font-size: x-large;
    list-style-type: none;
    /* margin:0 2%; */
}
